@bgcolor: #303030;
@myBlue: #61A7AA;

.mainCard{
    display: flex;
    flex-direction: right;
    margin: 0 auto;
    width: 60%;
    background-color: @myBlue;
}

#poster{
    max-width: 300px;
    max-height: 500px;
    margin: 10px;  
}

.textSide{    
    margin: 20px;
    margin-right: 40px;
}

body{
    background-color: @bgcolor;
}

#stars > span {   
        user-select: none;
        cursor: pointer;            
}

.filledStar{
    color: gold;
}

.emptyStar{
    color: @bgcolor; 
}




