.mainCard {
  display: flex;
  flex-direction: right;
  margin: 0 auto;
  width: 60%;
  background-color: #61A7AA;
}
#poster {
  max-width: 300px;
  max-height: 500px;
  margin: 10px;
}
.textSide {
  margin: 20px;
  margin-right: 40px;
}
body {
  background-color: #303030;
}
#stars > span {
  user-select: none;
  cursor: pointer;
}
.filledStar {
  color: gold;
}
.emptyStar {
  color: #303030;
}
