@bgcolor: #303030;
@myBlue: #61A7AA;

.mainCard{
    display: flex;
    flex-direction: right;
    margin: 0 auto;
    width: 60%;
    background-color: @myBlue;
}

#poster{
    max-width: 300px;
    max-height: 500px;
    margin: 10px;  
}

.textSide{    
    margin: 10px;
    margin-right: 40px;
    margin-top: 5px;
}

body{
    background-color: @bgcolor;
    font-family: 'Source Sans Pro', sans-serif;
}

#stars > span {   
        user-select: none;
        cursor: pointer;
        font-size: 30px;            
}

#stars > span:hover { 
    text-shadow: 1px 1px rgb(0, 0, 0);            
}

.filledStar{
    color: gold;
}

.emptyStar{
    color: @bgcolor; 
}




