<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moviereview</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">    
</head>
<body ng-app="reviewApp" ng-cloak>

    <div ng-controller="reviewController" class="mainCard">                    

        <div class="imageSide">
            <img ng-src ={{movie.imageSrc}} id="poster">
        </div>

        <div class="textSide">            
            <h2 id="title" >{{movie.title}}</h2>
            <div id="stars">
                    <span ng-class="{filledStar: filled[1]}"  ng-click="handleClick(1)" >&#9728;</span>
                    <span ng-class="{filledStar: filled[2]}"  ng-click="handleClick(2)" >&#9728;</span>
                    <span ng-class="{filledStar: filled[3]}"  ng-click="handleClick(3)" >&#9728;</span>
                    <span ng-class="{filledStar: filled[4]}"  ng-click="handleClick(4)" >&#9728;</span>
                    <span ng-class="{filledStar: filled[5]}"  ng-click="handleClick(5)" >&#9728;</span>
            </div>
            <p id="text">{{movie.text}}</p>
            <ul id="actorList">
                <li ng-repeat="item in movie.actors">{{item}}</li>
            </ul>
        </div>

    </div>

    <script src="bundle.js"></script>    
    
</body>
</html>